@page "/ingredients"
@inject HttpClient Http

<RadzenContent Container="main">
    <RadzenHeading Size="H1" Text="Ingredients" />
    <div class="row">
        <div class="col-md-12">
            <RadzenButton Icon="add_circle_outline" Style="margin-bottom: 10px" Text="Add" Click="@AddClick" />
            <RadzenGrid @ref="_grid" Responsive="false" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@ingredients" Count="@ingredientCount" TItem="IngredientModel" LoadData="@GridLoadData">
                <Columns>
                    <RadzenGridColumn TItem="IngredientModel" Property="Name" Title="Ingredient (100g)" />
                    <RadzenGridColumn TItem="IngredientModel" Property="Calory" Title="Calory (kcal)" Filterable="false" />
                    <RadzenGridColumn TItem="IngredientModel" Property="Carbohydrate" Title="Carbohydrate (g)" Filterable="false" />
                    <RadzenGridColumn TItem="IngredientModel" Property="Protein" Title="Protein (g)" Filterable="false" />
                    <RadzenGridColumn TItem="IngredientModel" Property="Fat" Title="Fat (g)" Filterable="false" />
                    <RadzenGridColumn TItem="IngredientModel" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                        <Template Context="deleteContext">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete_forever" Click="@((args)=>DeleteClick(args, deleteContext))" @onclick:stopPropagation="true" />
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </div>
    </div>
</RadzenContent>
